$color: #1a0b08;
$white: #fcfcfc;
$green: #D3E9D0;
$yellow: #fff2b2;
$brown: #EFEDE0;
$bule1: #BDD8DD;
$bule2: #CED7DC;
$orange1: #FACA7B;
$orange2: #F49C2D;
$box: #D8DBD9;
$number: #aaabab;
$footerBg: #E3DFDC;